.container {
  width: 400px;
  display: block;
  margin-top: 200px;
}

.form-login {
  display: flex;
  justify-content: space-between;
}
.form {
  display: flex;
  flex-direction: column;
}
.btn {
  margin-top: 25px;
}
small{
  font-size: 10px;
}